
<div  class="list panel panel-primary">
    <div class="panel-heading"> <h4 class="panel-title"><%= list.escape('title') %>  </h4>
    <ol class="cards panel-body"></ol>
	<div class="newCard"> </div>
</div>