
<div  class="list panel panel-primary">
    <div class="panel-heading"> <h4 class="panel-title"><%= list.escape('title') %>  </h4></div>
    <ul class="cards panel-body"></ul>
	<% if(window.currentUser.id === this.model.collection.board.get('user_id') || this.model.collection.board.has_member(window.currentUser)){%>
		<a href="#" class="btn-custom"
		   data-toggle="modal"
		   data-target="#list<%= list.escape('id') %>">Add Card</a>	
	<% }%>
</div>

<div class="modal fade" id="list<%= list.escape('id') %>" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">New Card</h4>
      </div>
      <div class="modal-body newCard">
      </div>
    </div>
  </div>
</div>